.header {
  color: #ff69b4;
  font-size: 70px;
  margin: 0px 20px;
}

@media (max-width: 414px) {
  .header {
    font-size: 50px;
  }
}

.body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.right {
  text-align: right;
}

.paragraph {
  color: black;
  margin: 25px;
  max-width: 600px;
  font-size: 30px;
}

.buttonHireMe {
  color: black;
  background-color: #ff6f61;
  margin: 25px;
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #fb9d18;
  color: white;
}

.active {
  background-color: #ff69b4 !important;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e7bead31;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: #ff69b4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  background-color: #ff6e6156;
  color: white;
}

.footer {
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, #f9ed32, #ee2a7b) !important;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width: 1024px) {
  .flexContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.insideContainer {
  background-color: #ffffff;
  width: 50%;
  position: relative;
  height: 500px;
}

@media (max-width: 1024px) {
  .insideContainer {
    width: 95%;
    height: 500;
    margin: 20px auto;
  }
}

.imageContainer {
  background-color: #ffffff;
  width: 50%;
  position: relative;
  height: 500px;
}

@media (max-width: 575px) {
  .imageContainer {
    width: 100%;
    max-height: 200px;
    margin: 0px auto 30px auto;
  }
}

@media (max-width: 620px) and (min-width: 576px) {
  .imageContainer {
    width: 100%;
    max-height: 250px;
    margin: 20px auto;
  }
}

@media (max-width: 720px) and (min-width: 621px) {
  .imageContainer {
    width: 100%;
    max-height: 300px;
    margin: 20px auto;
  }
}

@media (max-width: 815px) and (min-width: 721px) {
  .imageContainer {
    width: 100%;
    max-height: 350px;
    margin: 20px auto;
  }
}

@media (max-width: 1024px) and (min-width: 816px) {
  .imageContainer {
    width: 100%;
    max-height: 400px;
    margin: 20px auto;
  }
}

.imageDimension {
  width: 80%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.formBorder {
  border-radius: 5px;
  background-color: #ff6e6113;
  padding: 40px;


}

.formBorder:hover {
  background-color: #ff6e6131;
}

.formButton {
  background: linear-gradient(to right, #f9ed32, #ee2a7b) !important;
  color: white;
}

.navLinks {
  background-color: #e7bead31;
}

.menuItem {
  color: #ff69b4;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.menuItem:hover {
  background-color: #ff6e6156;
  color: white;
}

.menuButton {
  background: linear-gradient(to right, #f9ed32, #ee2a7b);
  display: inline-block;
  padding: 14px 16px;
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background .3s;
}

.menuButton:hover {
  background: linear-gradient(100deg, #f9ed32, #ee2a7b);
}

@media (max-width: 850px) {
  .largeMenu {
    display: none;
  }
}

@media (min-width: 851px) {
  .smallMenu {
    display: none;
  }
}


.thanks {
  background-color: #e7bead31;
  width: 350px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #ff69b4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}