.header {
  color: #ff69b4;
  font-size: 70px;
}

@media (max-width: 414px) {
  .header {
    font-size: 50px;
  }
}

h1 {
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.right {
  text-align: right;
}

.paragraph {
  color: black;
  max-width: 600px;
  font-size: 30px;
}

.wrapper {
  min-height: calc(100vh - 100px);
}

.main {
  padding-bottom: 40px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-direction: column;
}

@media (min-width: 640px) {
  .row {
    flex-direction: row;
    align-items: center;
  }

  .item {
    width: 50%;
  }

  .item:first-child {
    padding-right: 20px;
  }

  .item:last-child {
    padding-left: 20px;
  }
}

.active {
  background-color: #ff69b4 !important;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e7bead31;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: #ff69b4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  background-color: #ff6e6156;
  color: white;
}

.footer {
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, #f9ed32, #ee2a7b) !important;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

.formBorder {
  margin-bottom: 40px;
  padding: 40px;
  border-radius: 5px;
  background-color: #ff6e6113;
}

.formBorder:hover {
  background-color: #ff6e6131;
}

.formButton {
  background: linear-gradient(to right, #f9ed32, #ee2a7b);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  width: 150px;
}

.formButton:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  background: linear-gradient(to right, orange, #ee2a7b);
  transition: all 0.5s ease 0s;

}

.navLinks {
  background-color: #e7bead31;
}

.menuItem {
  color: #ff69b4;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.menuItem:hover {
  background-color: #ff6e6156;
  color: white;
}

.menuButton {
  background: linear-gradient(to right, #f9ed32, #ee2a7b);
  display: inline-block;
  padding: 14px 16px;
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background .3s;
}

.menuButton:hover {
  background: linear-gradient(100deg, #f9ed32, #ee2a7b);
}

@media (max-width: 850px) {
  .largeMenu {
    display: none;
  }
}

@media (min-width: 851px) {
  .smallMenu {
    display: none;
  }
}


.thanks {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
  background-color: #e7bead31;
  border: 3px solid #ff69b4;
  text-align: center;
}