body {
  background: linear-gradient(to right, #1a2a36, #6f57a5) !important;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.header {
  /* color: #ff69b4;
  color: -webkit-linear-gradient(#eee, #333); */
  font-size: 60px;
  background: -webkit-linear-gradient(#fff, #6f57a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .layout {
  width: 100%;
} */

@media (max-width: 414px) {
  .header {
    font-size: 40px;
  }
}

h1 {
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.right {
  text-align: right;
}

.paragraph {
  color: black;
  max-width: 600px;
  font-size: 30px;
}

.paragraph2 {
  color: rgba(39, 38, 38, 0.801);
  max-width: 600px;
  font-size: 18px;
}

/* .wrapper {
  height: calc(100vh - 100px);
} */

.wrapper {
  height: 100%;
}

.main {
  width: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-direction: column;
}

:global .ant-input-lg {
  height: 50px !important;
  border-radius: 10px !important;
  background: rgba(234, 235, 240, 0.5) !important;
}

:global .anticon a:hover {
  color: rgba(238, 42, 123, 0.5) !important;
  text-decoration: none;
}

:global .anticon svg:hover {
  color: rgba(238, 42, 123, 0.5) !important;
}

:global textarea.ant-input {
  height: 80px !important;
  border-radius: 10px !important;
  background: rgba(234, 235, 240, 0.5) !important;
}

:global .ant-form-item label {
  font-family: "Noto Sans HK", sans-serif !important;
  font-size: 15px;
}

:global .ant-input:hover {
  border-color: #6f57a5 !important;
}

:global .ant-input:focus {
  border-color: #6f57a5 !important;
  box-shadow: 0 0 0 2px rgb(24 144 255 / 0%) !important;
}

@media (min-width: 1150px) {
  .row {
    flex-direction: row;
    align-items: center;
  }

  .item {
    width: 50%;
  }

  .item:first-child {
    padding-right: 20px;
  }

  .item:last-child {
    padding-left: 20px;
  }
}

.active {
  background-color: #ff69b4 !important;
  color: white !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e7bead31;
}

li a {
  display: inline-block;
  color: #ff69b4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  background-color: #ff6e6156;
  color: white;
}

.footer {
  display: flex;
  min-height: 100px;
  justify-content: center;
  text-align: center;
  /* margin-bottom: 100px; */
  position: absolute;
  width: 100%;
  bottom: 0;
}

.quotation {
  color: #fff;
  font-family: "Handlee", cursive;
  font-size: 26px;
  /* margin: 0 170px 50px; */
  margin: 0 auto;
  text-align: center;
}

a:hover {
  color: rgba(238, 42, 123, 0.5) !important;
}

.icons {
  background: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 5px 5px 5px 18px;
  position: absolute;
  right: 0;
  top: 50px;
}

.footer img {
  width: 25px;
  margin-bottom: 5px;
}

.formBorder {
  margin-bottom: 40px;
  padding: 20px;

  border-radius: 18px;
  box-shadow: 0 0 80px 0 rgb(50 61 111 / 10%);
  background-color: #ffffff;
}

/* .formBorder:hover {
  background-color: #ff6e6131;
} */

.formButton {
  background: #6f57a5;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: 0;
  width: 150px;
  font-weight: bold;
  transition: all 0.5s ease;
  outline: none;
}

.formButton:hover {
  background: #1a2a36;
}

.navLinks {
  background-color: #e7bead31;
}

.menuItem {
  color: #ff69b4;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.menuItem:hover {
  background-color: #ff6e6156;
  color: white;
}

.menuButton {
  background: linear-gradient(to right, #ff6e6156, #ee2a7b);
  display: inline-block;
  padding: 14px 16px;
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 0.3s;
}

.menuButton:hover {
  background: linear-gradient(360deg, #ff6e6156, #ee2a7b);
}

.closeButton {
  background: white;
  display: inline-block;
  padding: 14px 16px;
  color: #ff69b4;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 0.3s;
}

.closeButton:hover {
  background: linear-gradient(to right, #ff6e6156, #ee2a7b);
  color: white;
}

@media (max-width: 850px) {
  .largeMenu {
    display: none;
  }
}

@media (min-width: 851px) {
  .smallMenu {
    display: none;
  }
}

.thanks {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
  background-color: #e7bead31;
  border: 3px solid #fff;
  text-align: center;
  color: #fff;
}

.media {
  color: #6f57a5;
  font-size: 25px;
  padding-right: 10px;
  transition: opacity 0.3s;
  fill: #6f57a5;
}

.media:last-child {
  padding-right: 0;
}

.media:hover {
  fill: rgba(238, 42, 123, 0.5);
}

.media .icon_active {
  opacity: 0;
}

.media .icon_active:hover {
  opacity: 1;
}

.media .icon:hover {
  opacity: 0;
}

.svg {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.contactInfo {
  color: #ee2a7b;
  font-size: 1.2rem;
}

.myImage {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 1020px) {
  .contact {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
}

.imageBorder {
  margin-bottom: 40px;
  border-radius: 5px;
  background-color: white;
  border-style: solid;
  border-color: #ff69b450;
}

.imageBorder:hover {
  border-color: #ff69b4c9;
}

.imageContainer {
  display: flex;
  justify-content: center;
  position: relative;
  background: transparent;
  height: 300px;
}

.profileImg {
  position: absolute;
  border-radius: 50%;
  width: 300px;
  transform: translate(0, -25%);
}

.circleImg {
  position: absolute;
  width: 500px;
  transform: translate(0, -25%);
  top: 30px;
  left: 50px;
}

@media (max-width: 1150px) {
  .circleImg {
    width: 450px;
  }

  .container {
    position: relative;
  }

  .icons {
    height: 50px;
    bottom: 0;
    top: auto;
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1150px) {
  .profileImg {
    transform: translate(0, 0);
    width: 200px;
  }

  .circleImg {
    transform: translate(0, 0);
    width: 300px;
    left: 20px;
    position: relative;
    top: auto;
  }

  .footer {
    margin-top: 240px;
  }

  .quotation {
    margin: 0 20px 100px;
  }

  .header {
    text-align: center;
  }
}
